
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 0 rgba(99, 95, 95, 0.1);
    /* position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000; */
}
.header-img{
        margin-left: -40px;
}
.logo{
    font-size: 3rem;
    /* margin: 1rem; */
    text-decoration: none;
    text-decoration: none;
    color: #0f6e8c;
    font-weight: 600;
}
.header-logo {
    display: flex;
    /* font-family: "Playfair Display", "serif"; */
}
.header-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -46px;
        margin-left: -26px;
}
.logo-text {
    color: #555;
    margin-left: -7rem;
    font-weight: 600;
    margin-top: -2px;
}
.nav-items{
    margin: 30px ;
}
.nav-items ul{
    display: flex;
    align-items: center;
        margin: 0;
}
ul li{
    list-style-type: none;
    margin: 10px;
    color:#2d2f30;
    text-transform: uppercase;
    font-weight: 400;
    /* font-family: "Playfair Display", "serif"; */
}
li a{
    text-decoration: none;
    padding: 5px 12px;
        transition-duration: 0.3s;
}
 li a:hover {
    font-weight: 700;
    background-color: #0f6e8c;
    padding: 5px 12px;
    color: #fff;
    border-radius: 2px;
}

.shimmer-wrapper{
    display: flex;
    flex-wrap: wrap;
    
}

.shimmer{
    width: 237px;
    height: 300px;
    margin: 20px;
    border: 1px solid #fff;
    padding: 10px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
}
.shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(220,220,220,0.6), transparent);
    animation: shimmer 1.2s infinite;
}
@keyframes shimmer {
    100% {
        left: 100%;
    }
}

.line{
    border-bottom: .5px solid #d3d3d3;
    height: .5px;
    margin: 20px auto;
    width:70%;
}
.link{
    text-decoration: none;
    color: unset;
}
.banner {
    background-image: url('../gurinder-singh-chandel/src/images/court-lawyer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    /* margin-top: 2rem; */
    padding: 5px 1rem;
    /* display: flex; */
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.banner-heading {
    color: #05546d;
    /* font-family: "Playfair Display", "serif"; */
    font-size: 50px;
    width: 40%;
    line-height: 76px;
}
.banner-info{
    font-size: 24px;
    /* font-family: "Playfair Display", "serif"; */
    line-height: 38px;
    letter-spacing: 0.5px;
    max-width: 500px;
    margin-top: 40px;
}
.banner-photo img{
    width: 100%;
    /* height: 100%; */
    border-radius: 12px;
}
.banner-photo{
        margin-top: 4.67rem;
}

#our_features {
    /* background-color: #F2FCFF; */
    padding: 125px 0px;
}
.container {
    width: 1400px;
    margin: auto;
    padding: 0px 15px;
}
.our_features_body {
    display: grid;
    grid-template-columns: 417px 1fr;
    gap: 200px;
}
.our_features_body .feature_description {
    padding-top: 48px;
}

.our_features_body .feature_list {
    display: grid;
    grid-template-columns: 255px 255px;
    gap: 30px;
}
.our_features_body .feature_list .feature_item {
    background-color: #FCFCFC;
    padding: 24px;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.map{
    margin-bottom: 2rem;
    border: none;
}
.reach-heading {
    color: #05546d;
    padding: 1rem 0;
    border-top: 5px solid #635f5f1a;
}
.reach-section{
    display: flex;
    justify-content: space-between;
}
.reach-info-section{
    width: 45%
}
.reach-heading2{
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: overline;
}
.social-link-email{
    display: block;
    text-decoration: underline;
    color: #555;
    margin: 1rem 0;
}
.social-link-phone{
    display: block;
    text-decoration: underline;
    color: #555;
}
p.prop {
    color: #000;
    margin-bottom: 5px;
    margin-top: 14px;
    font-size: 2rem;
    font-weight: 500;
}
.address {
    margin: 1rem 0;
    color: #555;
}
.prop-info{
    color: #555;
    margin-top: 5px;
    font-weight: 500;
}
 .complex_question_content {
    /* border-top: 5px solid #635f5f1a; */
    display: flex;
    flex-direction: row-reverse;
    /* padding: 4rem 0; */
    margin: 1rem 0;
}
.common_heading>h2{
    margin:0;
}
.common_heading p {
    color: var(--gray);
    margin-top: 30px;
    font-size: 17px;
    line-height: 36px;
    white-space: break-spaces;
}
 .complex_question_content .left .action_btns .action_btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #05546d;
    border-radius: 8px;
    padding: 14px 18px;
    text-decoration: none;
    color: #fff;
}
 .complex_question_content .right .img {
    height: 100%;
    overflow: hidden;
}
 .complex_question_content .right .img img {
    border-bottom-right-radius: 40px;
    height: 401px;
    position: relative;
    top: 8px;
    
}

.adv-logo-text {
    color: #555;
    font-weight: 600;
    margin-top: 10px;
}
.complex_question_content> .left{
    width: 70%;
}
.right{
    width:45%
}

@media (max-width: 600px) {
    body {
        max-width: 100%;
        padding: 0 10px;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
    }
    .header-img {
        margin-left: -19px;
        width: 100px;
        height: auto;
    }
    .header-logo {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-text {
        margin-top: -30px;
        margin-left: 0;
        align-items: flex-start;
    }
    .logo {
        font-size: 2.2rem;
    }
    .logo-text {
        margin-left: 0;
        margin-top: 0;
        font-size: 13px;
    }
    .nav-items {
        display: none;
        margin: 10px 0;
    }
    .nav-items ul {
        flex-direction: column;
        align-items: flex-start;
    }
    ul li {
        margin: 5px 0;
        font-size: 1rem;
    }
    .banner {
        background-image: url('../gurinder-singh-chandel/src/images/imgjpg.jpg');
        padding: 10px 0.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        background-size: cover;
    }
    .banner-heading {
        font-size: 2rem;
        width: 100%;
        line-height: 2.5rem;
    }
    .banner-info {
        font-size: 1rem;
        line-height: 1.5rem;
        max-width: 100%;
        font-weight: 600;
        /* color: #fff; */
        margin-top: 20px;
    }
    .banner-photo {
        margin-top: 2rem;
    }
    .container {
        width: 100%;
        padding: 0 5px;
    }
    .our_features_body {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .our_features_body .feature_list {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .reach-section {
        flex-direction: column;
        gap: 20px;
    }
    .reach-info-section,
    .right,
    .complex_question_content > .left {
        width: 100%;
                padding-bottom: 5rem;
    }
    .complex_question_content {
        flex-direction: column;
    }
    .complex_question_content .right .img img {
        height: auto;
        width: 100%;
        border-bottom-right-radius: 20px;
        top: 0;
    }
    .shimmer-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .shimmer {
        width: 90vw;
        max-width: 300px;
        height: 200px;
        margin: 10px 0;
    }
    iframe{
        width: 99%;
    }
}